# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Firefighters.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Firefighters\.idea\.idea.Firefighters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
